/* Red Hat Openstack Manager */

// RCUE
@import "../bower_components/rcue/less/rcue.less";

// RCUE overrides
@import "variables.less"; 


.deployment-checklist {
  background: @deployment-checklist-bg-color-fallback;
  background: @deployment-checklist-bg-color;
  border: 1px solid @gray-lighter;
  min-width: 200px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 999;
  @media (min-width: 1010px) {
    &.affix {
      position: fixed;
      right: 20px;
      top: 10px;
    }
    &.affix-top {
      position: absolute;
    }
  }
  #deployment-steps {
    padding-left: 31px;
    margin-top: -5px;
    .active {
      font-weight: 600;
    }
    .complete {
      list-style: none;
      color: @gray;
      &:before {
        color: @brand-success;
        content: '\f00c';
        font-family: @icon-font-name-fa;
        left: -18px;
        position: absolute;
        top: 1px;
      }
    }
    li {
      margin-bottom: 5px;
      position: relative;
    }
    ul {
      padding-left: 6px;
      padding-top: 5px;
    }
  }
  .deployment-steps-status {
    font-weight: 600;
    a {
      color: @gray;
      padding-left: 14px;
      position: relative;
      &:before {
        border: 4px solid transparent;
        border-top-color: @gray;
        content: '';
        height: 0;
        left: 1px;
        position: absolute;
        top: 7px;
        width: 0;
      }
      &.collapsed:before {
        border-left-color: @gray;
        border-top-color: transparent;
        left: 3px;
        top: 5px;
      }
      &:focus, &:hover {
        color: @gray;
        text-decoration: none;
      }
    }
  }
  h2 {
    margin-top: 0;
  }
}

.deployment-checklist-wrapper {
  clear: left;
  position: relative;
}

.deployment-roles {
  float: left;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0;
  &.deployment-roles-unassigned {
    border: 2px dashed transparent;
    margin-left: -12px;
    padding-left: 12px;
    padding-top: 10px;
    &.deployment-roles-active {
      border-color: darken(@deployment-role-border-color, 25%);
    }
    &.deployment-roles-hover {
      border-color: darken(@deployment-role-border-color, 50%);
    }
  }
  > li {
    background: @deployment-role-bg-color;
    border: 2px solid @deployment-role-border-color;
    border-radius: @border-radius-base;
    float: left;
    margin: 0 10px 10px 0;
    min-width: 150px;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    &:before {
      background-image: linear-gradient(to bottom, @deployment-role-border-color 60%, #fff 0%);
      background-position: left;
      background-repeat: repeat-y;
      background-size: 2px 5px;
      border: 4px solid @deployment-role-border-color;
      bottom: 1px;
      content: '';
      left: 1px;
      position: absolute;
      top: 1px;
      width: 10px;
    }
    &:hover .role-option.edit {
      display: block;
    }
    &.no-roles {
      background: transparent;
      border: 0;
      min-width: none;
      padding-left: 0;
      text-align: left;
      &:before {
        display: none;
      }
    }
    &.role-assigned {
      float: none;
      &:hover .role-option {
        right: 5px;
        &.delete {
          display: block;
        }
        &.edit {
          top: 15px;
        }
      }
      .bootstrap-select {
        display: inline-block !important;
        margin-bottom: 4px;
        width: auto !important;
      }
      .deployment-role-label {
        color: #fff;
      }
      .role-option {
        color: #fff;
        &:hover {
          color: darken(#fff, 10%);
        }
      }
    }
    &.role-block {
      border-color: @deployment-role-block-border-color;
      &:before {
        background-image: linear-gradient(to bottom, @deployment-role-block-border-color 60%, #fff 0%);
        border-color: @deployment-role-block-border-color;
      }
      &.role-assigned {
        background: @node-block-bg-color;
      }
    }
    &.role-compute {
      border-color: @deployment-role-compute-border-color;
      &:before {
        background-image: linear-gradient(to bottom, @deployment-role-compute-border-color 60%, #fff 0%);
        border-color: @deployment-role-compute-border-color;
      }
      &.role-assigned {
        background: @node-compute-bg-color;
      }
    }
    &.role-controller {
      border-color: @deployment-role-controller-border-color;
      &:before {
        background-image: linear-gradient(to bottom, @deployment-role-controller-border-color 60%, #fff 0%);
        border-color: @deployment-role-controller-border-color;
      }
      &.role-assigned {
        background: @node-controller-bg-color;
      }
    }
    &.role-object {
      border-color: @deployment-role-object-border-color;
      &:before {
        background-image: linear-gradient(to bottom, @deployment-role-object-border-color 60%, #fff 0%);
        border-color: @deployment-role-object-border-color;
      }
      &.role-assigned {
        background: @node-object-bg-color;
      }
    }
    &.role-target {
      border-style: dashed;
      margin: 0;
      &:before {
        display: none;
      }
      &.role-target-active {
        border-color: darken(@deployment-role-border-color, 25%);
      }
      &.role-target-hover {
        border-color: darken(@deployment-role-border-color, 50%);
      }
      > a {
        display: block;
        text-align: center;
      }
    }
    &.role-unconfigured {
      background-color: @deployment-role-unconfigured-bg-color !important;
      border-color: @deployment-role-unconfigured-border-color !important;
      color: @deployment-role-unconfigured-color !important;
      cursor: auto;
      &:before {
        display: none;
      }
    }
    &.ui-draggable:hover {
      cursor: move;
    }
    .bootstrap-select {
      display: none !important;
    }
    .pficon-help {
      cursor: pointer;
      font-size: @font-size-large;
      position: absolute;
      left: 12px;
      top: 10px;
      &:hover {
        color: @gray;
      }
    }
    .role-option {
      display: none;
      font-size: @font-size-large;
      position: absolute;
      right: 10px;
      &.delete {
        top: -2px;
      }
      &.edit {
        top: 4px;
      }
    }
  }
}

.form-control.has-feedback {
  padding-right: 30px;
}

.form-control-feedback {
  position: absolute;
  right: 28px;
  top: 7px;
}

.form-group.required > label:after {
  content: "*";
  padding-left: 3px;
}

.modal {
  &.with-table-header-rotated .modal-body {
    padding-right: 70px;
  }
  .nav-tabs-pf + .tab-content {
    margin-top: 30px;
  }
  .panel-group {
    margin-top: 20px;
  }
  .panel-title {
    font-size: @font-size-base;
  }
  .tab-content fieldset legend {
    font-size: 13px;
  }
}

.nav-node-registration {
  float: right;
  margin: 0 0 -1px;
}

.nav-registered-nodes {
  > li {
    &.active {
      &:after {
        border: 10px solid transparent;
        border-bottom-width: 20px;
        border-left-color: @nav-pills-active-link-hover-bg;
        border-right-width: 0;
        border-top-width: 20px;
        content: '';
        height: 0;
        position: absolute;
        right: -10px;
        top: 0;
        width: 0;
      }
      .fa-trash-o, &:hover {
        color: #fff;
      }
    }
    > a {
      padding-right: 30px;
    }
  }
  .fa-trash-o {
    color: @link-color;
    font-size: @font-size-large;
    position: absolute;
    right: 12px;
    top: 12px;
    &:hover {
      color: @link-hover-color;
    }
  }
}

.node-profile {
  &.nodes-coalescing {
    color: @gray-light;
    .node-profile-label {
      color: @gray-light;
    }
  }
  .h5 {
    margin-top: 0;
  }
  .panel-heading .h5 {
    margin-bottom: 0;
  }
}

.node-specs {
  width: auto;
  tbody, thead {
    > tr {
      > td, > th {
        border-top: 0;
        padding: 0 10px 0 0;
      }
      > th {
        padding-top: 1px;
      }
    }
  }
}

.nodes-registered-count {
  margin: 0;
  padding: 5px 0 0;
}

.page-header-rhci {
  background: @sidebar-pf-bg;
  border-bottom-color: @sidebar-pf-border-color;
  float: left;
  margin-bottom: -1px;
  margin-top: 0;
  width: 100%;
}

.progress-description .tooltip {
  white-space: normal;
}

.rhci-steps {
  color: @gray-light;
  font-size: @font-size-large + 1;
  float: left;
  list-style-position: inside;
  margin: 0 0 10px -@grid-gutter-width/2;
  padding: 0;
  position: relative;
  li {
    float: left;
    margin: 0;
    padding: 30px @grid-gutter-width/2 0;
    position: relative;
    &:after {
      background: @sidebar-pf-border-color;
      border-radius: 20px;
      content: '';
      height: 8px;
      left: 50%;
      margin-left: -4px;
      position: absolute;
      top: 16px;
      width: 8px;
    }
    &:before {
      border-top: 1px solid @sidebar-pf-border-color;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: @grid-gutter-width/2;
      width: 100%;
    }
    &:last-child:before {
      width: 50%;
    }
    &.active {
      color: @rhci-steps-active-color;
      &:after {
        background-color: @rhci-steps-active-color;
      }
    }
    &.completed {
      color: @gray;
      &:after {
        background-color: @gray-light;
      }
    }
  }
}

.rhci-steps-buttons {
  margin-bottom: @grid-gutter-width/2;
  margin-top: @grid-gutter-width/2;
  text-align: right;
  .btn {
    margin-left: 5px;
    > .fa-angle-left {
      margin-right: 5px;
    }
    > .fa-angle-right {
      margin-left: 5px;
    }
  }
}

.register-nodes-formset .tab-pane > h4 {
  margin-top: 5px;
  + .form-horizontal {
    margin-top: 20px;
  }
}

.table-header-rotated {
  border-collapse: collapse;
  td {
    border-left: 1px solid @table-border-color;
    border-top: 0 !important;
    text-align: center;
    width: 30px;
  }
  th {
    border: 0 !important;
    &[colspan] {
      text-align: center;
    }
    &.rotate {
      height: 70px;
      white-space: nowrap;
      .ie8 & {
        height: auto;
        white-space: normal;
      }
      > div {
        transform: translate(8px, 18px) rotate(-45deg);
        width: 30px;
        .ie8 & {
          width: auto;
        }
        span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100px;
          .ie8 & {
            width: auto;
          }
        }
      }
    }
    &.row-header {
      font-weight: 500;
    }
  }
  thead {
    background: none;
  }
}

.title-bar {
  .btn {
    margin-right: 10px;
    margin-top: 10px;
  }
  .edit-config {
    margin-bottom: 10px;
  }
  h1 {
    margin-bottom: 5px;
  }
  @media (min-width: @screen-sm) {
    .btn {
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 0;
      margin-top: 23px;
    }
    .buttons {
      text-align: right;
    }
  }
  @media (min-width: 852px) {
    .edit-config {
      margin-left: 15px;
      margin-top: 27px;
    }
    h1 {
      display: inline-block;
    }
    + .row hr {
      margin-top: 5px;
    }
  }
}

.upload-nodes {
  border-bottom: 1px solid @nav-tabs-border-color;
  border-top: 1px solid @nav-tabs-border-color;
  clear: right;
  margin: 0 0 15px;
  padding: 15px 0 0;
}